Retention – один из самых важных показателей в компании. Задача – написать функцию, которая будет считать retention игроков (по дням от даты регистрации игрока).

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as ss
from tqdm.auto import tqdm

reg_data = pd.read_csv('problem1-reg_data.csv', sep=';')
auth_data = pd.read_csv('problem1-auth_data.csv', sep=';')

Проверяем данные в таблицах

In [3]:
reg_data.dtypes

reg_ts    int64
uid       int64
dtype: object

In [4]:
reg_data.duplicated().sum()

0

In [5]:
reg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   reg_ts  1000000 non-null  int64
 1   uid     1000000 non-null  int64
dtypes: int64(2)
memory usage: 15.3 MB

In [6]:
auth_data.dtypes

auth_ts    int64
uid        int64
dtype: object

In [7]:
auth_data.duplicated().sum()

0

In [8]:
auth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9601013 entries, 0 to 9601012
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   auth_ts  int64
 1   uid      int64
dtypes: int64(2)
memory usage: 146.5 MB

In [9]:
pd.to_datetime(reg_data.reg_ts.agg(['min', 'max']), unit='s').dt.date

min    1998-11-18
max    2020-09-23
Name: reg_ts, dtype: object

In [10]:
pd.to_datetime(auth_data.auth_ts.agg(['min', 'max']), unit='s').dt.date

min    1998-11-18
max    2020-09-23
Name: auth_ts, dtype: object

In [11]:
reg_data.head()

      reg_ts  uid
0  911382223    1
1  932683089    2
2  947802447    3
3  959523541    4
4  969103313    5

In [12]:
auth_data.head()

     auth_ts  uid
0  911382223    1
1  932683089    2
2  932921206    2
3  933393015    2
4  933875379    2