Имеются результаты A/B теста, в котором двум группам пользователей предлагались различные наборы акционных предложений. Известно, что ARPU в тестовой группе выше на 5%, чем в контрольной. При этом в контрольной группе 1928 игроков из 202103 оказались платящими, а в тестовой – 1805 из 202667.

Какой набор предложений можно считать лучшим? Какие метрики стоит проанализировать для принятия правильного решения и как?

In [15]:
df = pd.read_csv('Проект_1_Задание_2.csv', encoding = 'windows-1251', sep = ';')
df.head()

   user_id  revenue testgroup
0        1        0         b
1        2        0         a
2        3        0         a
3        4        0         b
4        5        0         b

In [16]:
df.dtypes

user_id       int64
revenue       int64
testgroup    object
dtype: object

In [17]:
df.duplicated().sum()

0

In [18]:
print('Уникальные пользователи - ', len(df['user_id'].unique()))
print('Тестовые группы - ', len(df['testgroup'].unique()))
print('Минимальный платеж - ', df.revenue.min(), 'Максимальный платеж - ', df.revenue.max())
print(' ')
df.info()

Уникальные пользователи -  404770
Тестовые группы -  2
Минимальный платеж -  0 Максимальный платеж -  37433

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404770 entries, 0 to 404769
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    404770 non-null  int64
 1   revenue    404770 non-null  int64
 2   testgroup  404770 non-null  object
dtypes: int64(2), object(1)
memory usage: 9.3+ MB